<script type="text/javascript" charset="utf-8">
$(function () {
        $('#guailan').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Activities across all time'
            },
            subtitle: {
                text: 'A factual reflection of you'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Frequency'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y + ' times';
                }
            },
            
            series: [
<% @datacycle = DayTrait.all.group_by{ |t| t.trait_id} %>
<% @datacycle.each do |n,p| %>
{name:
"<%= Trait.find(n).name %>",
data:[
<% p.each do |k| %>
[Date.UTC(<%= k.created_at.strftime("%Y, %m, %d") %>), <%= k.icounter %>],
<% end %>
]
},
<% end %>
]
        });
    });
</script>




<div class="row">
    <div class= "large-12 columns">
        <h1 style="text-align:center"> Here's a reflection of you. </h1>
    </div>
</div>

<div id = "guailan" style="width:80%;margin:auto;"></div>


