<div class="row">
		<div class="wrapper_trait">
			<h1 id ="welcome"> Hey there </h1>
			<div class="large-12 columns" style="text-align:right">
				<p class="content">Click any of the dates that you want to track stuff on to get started </p>
			</div>
		</div>
		
</div>

<br>
<br>
<div class= "row">

<div class="side_bar">
	<% @daysall.each do |n| %>
		<%= link_to "#{n.currentnow}" , dashboard_days_path(:day_id => n), remote: true, :class => "replacemiddle" %> <br>
	<% end %>
</div>

