<div class="background">
&nbsp;
</div>
<div class="row">
	<div class="large-12 columns" >
	<p id="cheesycopycat"> reflect </p>
	<p id="cheesytext">Because apparently all designs should be copied</p>
</div>
	</div>
