
@font-face { font-family: pico; src: url('/fonts/PICO.TTF'); } 
@font-face { font-family: pico; font-weight: bold; src: url('/fonts/PICO.TTF');}

.fubar{
float:right;
}
.top-bar .row{
	margin: 0px !important;
}
.top-bar .row p{
font-size:30px;
font-family:pico;
letter-spacing:;
}
.top-bar .row p a {
color:white;
}
#loginbar {
	color: white;
	font-size: 12px;
	text-align: right;
}
#loginbar a{
color:grey;
}
#loginbar a:hover{
color:white;
}

#trait_list {
	padding-bottom:50px;
	padding-top:50px;
	border:dotted;
	border-radius: 50px;
	text-align:center;		
	background-color:black;
	border-color:white;
	box-shadow: 5px 10px 20px black;
}
#trait_list a{
	color:grey;
	font-family:pico;
	font-size:25px;
}
#trait_list a:hover{
	color:white;
}

#add_trait_form{
	font-family:pico;
	font-size:20px;
}

.formbutton{
	font-size:20px;
	color:black;
}



input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
font-family:pico;
border-radius: 5px;
box-shadow: 5px 5px 20px black;
 }